#yo{
    color: aqua;
    font-size: 28px
}
#me{
    color: orange;
    font-size: 32px
}
#blue{
    color: aqua;
    font-size: 28px;
}
nav{
    font-size: 36px;
    text-align: center;
    